.swiper-pagination-bullet {
    background-color: #ccc;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin: 0 6px !important;
    border-radius: 9999px;
    transition: all 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000; 
    width: 24px;
  }
  